<!DOCTYPE html>
<html lang="ru" ng-app>
<head>
  <title>Dota2City.net</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

<%= render 'layouts/leftbar' %>
<%= render 'layouts/rightbar' %>
<div class="well well-sm content">
<%= yield %>

</div>
</div>
</body>



  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
 $(document).ready(
function() {
$("#chat").niceScroll();
$('[data-toggle="tooltip"]').tooltip(); 
}


);

</script>
  
</html>
