<!DOCTYPE html>
<html lang="ru" ng-app>
<head>
  <title>Dota2City.net</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

<%= render 'layouts/leftbar' %>
<%= render 'layouts/rightbar' %>
<div class="well well-sm content">Small Well
<%= yield %>
</div>
</div>
</body>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script type="text/javascript">
	
 $(document).ready(
function() {
$("#chat").niceScroll();
}
);

</script>
  
</html>
