<!DOCTYPE html>
<html lang="ru">
<head>
<base href="/">
  <title>Dota2City.net</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body ng-app="mainApp">
<div id="wrapper">

<%= render 'layouts/leftbar' %>
<%= render 'layouts/rightbar' %>
<div class="well well-sm content" ui-view>



</div>

<%= render 'layouts/footer' %>
</div>
</body>



  <%= javascript_include_tag 'application' %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script type="text/javascript">





$("#chat").niceScroll();
$('[data-toggle="tooltip"]').tooltip(); 




</script>
  
</html>


